// typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family: IRANSans;
$line-height-base: 1.6;
$text-color: #636b6f;

// font-weight
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: bold;

//font-size
$font-size-base:          14px;
$font-size-large:         18px;
$font-size-jumbo:         50px;
$font-size-small:         12px;
$font-size-tiny:          10px;
$font-size-h1:            36px;
$font-size-h2:            20px;
$font-size-h3:            24px;
$font-size-h4:            18px;
$font-size-h5:            16px;
$font-size-h6:            14px;