@import "_scope";
@import "../../mixin/responsive";

.AsideThreads {
  background-color: $color-primary;
  height: 100%;
  overflow-y: auto;
  z-index: $z-index-1;
}

.AsideThreads__Threads {
  overflow-y: auto;
}

.AsideThreads__Threads--fullHeight {
  height: 100%;
}

.AsideThreads__AvatarContainer {
  width: calc(100% - 30px);
  overflow: hidden;
}
