.BoxHeadThreadInfo {
  display: inline-block;
  cursor: pointer;
  width: calc(100% - 350px);
  padding: 2px 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.BoxHeadThreadInfo:hover {
  background-color: rgba(7, 16, 36, 0.16);
}