@import "../../utils/responsive";

.BoxHeadMenu {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.BoxHeadMenu--isThreadShow {
  display: none;
}

@include grid("md") {
  .BoxHeadMenu {
    display: inline-block;
    width: 350px;
    border-left: 1px solid $color-accent-dark;
  }
  .BoxHeadMenu--isThreadShow {
    display: inline-block;
  }
}
