@import "../../utils/responsive";

.BoxScene {
  display: inline-block;
  padding: 20px;
  height: 100%;
  position: relative;
  top: 0;
  width: 0;
  trasition: width 0.1s ease;
}

.BoxScene--isThreadShow {
  width: 100%;
}

@include grid("md") {
  .BoxScene, .BoxScene--isThreadShow {
    width: calc(100% - 351px);
  }
}
