@import "../../utils/responsive";

.BoxThreads {
  width: 100%;
  display: inline-block;
  float: right;
  background-color: $color-primary;
  height: 100%;
  position: relative;
  z-index: $z-index-1;
  overflow: hidden;
  overflow-y: auto;
}

.BoxThreads--isThreadShow {
  width: 0;
  display: none;
}

@include grid("md") {
  .BoxThreads, .BoxThreads--isThreadShow {
    width: 350px;
    display: block;
  }

}
