.BoxThreads {
  width: 250px;
  display: inline-block;
  float: right;
  background-color: $color-primary;
  height: 100%;
  position: relative;
  z-index: $z-index-1;
  overflow: hidden;
  overflow-y: auto;
}