@import "../../utils/responsive";

.Box {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $color-background;
}

.Box__Aside {
  flex: 0 0 100%;
  position: relative;
}

.Box__Aside * {
  user-select: none;
}

.Box__Main {
  flex: 0 0 100%;
  position: relative;
}

.Box--isThreadShow .Box__Aside {
  display: none;
}

.Box--isThreadShow .Box__Main {
  display: block;
}

@include grid("md") {
  .Box--isThreadShow .Box__Aside,
  .Box--isThreadShow .Box__Main {
    display: block;
  }
  .Box__Aside {
    flex: 0 0 30%;
    position: relative;
  }

  .Box__Main {
    flex: 0 0 70%;
    position: relative;
  }
}