.MainMessagesPinMessage {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 50px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.MainMessagesPinMessage__Message {
  max-width: calc(100% - 80px);
  overflow: hidden;
  margin-right: 10px;
  text-overflow: ellipsis;
  height: 30px;
  display: inline-flex;
}

.MainMessagesPinMessage__MessageIcon {
  margin-left: 10px;
}


.MainMessagesPinMessage__CloseIcon {
  margin-left: 10px;
}

