.MainFooterEmojiIcons {
  display: flex;
  flex-wrap: wrap;
  max-height: 120px;
  overflow: auto;
  margin: 0 -13px;
  margin-bottom: -10px;
}

.MainFooterEmojiIcons__Icon {
  padding: 5px;
}

.MainFooterEmojiIcons__Icon:hover {
  background-color: $color-gray-light;
  cursor: pointer;
}

.MainFooterEmojiIcons__Button {
  width: 30px;
  height: 30px;
  background-size: 810px 210px;
}