.MainMessagesText {

}

.MainMessagesText__Control {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  top: 5px;
  left: 5px;
  border-radius: 5px;
  background-color: $color-white;
}

.MainMessagesText__TriggerIcon,
.MainMessagesText__ControlIcon {
  color: $color-gray-dark;
  cursor: pointer;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MainMessagesText__OpenTriggerIconContainer {
  display: none;
}

.MainMessagesText__ControlIcon {
  margin: -10px 5px;
  position: relative;
  top: -5px;
}

.MainMessagesText__TriggerIcon:hover,
.MainMessagesText__ControlIcon:hover {
  color: $color-accent;
  transform: scale(1.2);
}

.MainMessagesText.MainMessagesText * {
  user-select: text;
}

.MainMessagesText__ControlIconContainer {
  width: 100%;
}

.MainMessagesText--triggerIconShow {
  .MainMessagesText__OpenTriggerIconContainer {
    display: block;
  }
}
