.MainMessagesPinMessage {
  position: relative;
  display: inline-flex;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 25px;
  order: 1;
  cursor: pointer;
}

.MainMessagesPinMessage__Message {
  max-width: calc(100% - 80px);
  overflow: hidden;
  margin-right: 10px;
  text-overflow: ellipsis;
  display: inline-flex;
}

.MainMessagesPinMessage__MessageIcon {
  margin-left: 10px;
}

.MainMessagesPinMessage__CloseIcon {
  height: 100%;
  width: 50px;
  text-align: center;
  padding-top: 13px;
}