@import "_scope";
@import "../../mixin/responsive";

.MainMessagesFile {

}

.MainMessagesFile__ImageContainer {
  display: block;
}

.MainMessagesFile__FileContainer {
  display: flex;
  align-items: center;
}

.MainMessagesFile__FileContainer--reverseDirection {
  flex-direction: row-reverse;
}

.MainMessagesFile__FileName {
  flex-grow: 1;
  word-break: break-word;
}

.MainMessagesFile__FileControlIcon {
  cursor: pointer;
}

.MainMessagesFile__Image {
  max-width: 100%;
  border-radius: 5px;
}

.MainMessagesFile__Progress {
  position: absolute;
  height: 4px;
  background-color: $color-accent;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

.MainMessagesFile__Progress:after {
  position: absolute;
  color: $color-white;
  line-height: 20px;
  content: attr(title);
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  background-color: #f58220;
  border-radius: 50%;
  font-size: $font-size-xsm;
  text-align: center;
}

@include grid("md") {
  :not(.MainMessagesFile__Image--smallVersion).MainMessagesFile__Image {
    max-width: 400px;
  }
}
