.ListItem {
  padding: 10px;
}

.ListItem--selection {
  cursor: pointer;
}

.ListItem--selection:hover {
  background-color: $color-primary-light;
}

.ListItem--selected {
  background-color: $color-primary-light;
}